<!-- <mat-sidenav-container class="demo-root" fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
      <a mat-list-item *ngFor="let navItem of navItems" (click)="start.close()" [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>

      <a mat-list-item *ngFor="let navItem of navUIItems" (click)="start.close()" [routerLink]="[navItem.route]">        
        {{navItem.name}}
      </a>
    </mat-nav-list>
    <button mat-button (click)="start.close()">{{'Home.CloseButton' }}</button>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open()">
        <mat-icon class="md-24">menu</mat-icon>
      </button>
      <div class="demo-toolbar">
        <h1>{{'Home.AppTitle' }}</h1>
        <div class="flex-spacer"></div> 
        <mat-form-field>
          <mat-select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()" name="lang">
            <mat-option *ngFor="let lang of availableLanguages" [value]="lang.Value">
              {{ lang.DisplayName  }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
          <mat-icon class="md-24">fullscreen</mat-icon>
        </button>
        <a mat-icon-button href="https://github.com/alvachien/datastructure" title="Go to Source repo">
          <mat-icon class="md-24">code</mat-icon>
        </a>
      </div>
    </mat-toolbar>

    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container> -->

<div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</div>