<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Math Expression
    </ng-template>
    <mat-card>
      <mat-toolbar color="accent">Math Expression</mat-toolbar>
      <mat-card-content>
        <div class="control-full-width">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="mathExpress">
          </mat-form-field>
          <div>{{this.mathExpressEval}}</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button md-raised-button [disabled]="!mathExpress" (click)="OnMathExpressEval()">Evaluate Expression</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Chinese Chess <em>General Problem</em>
    </ng-template>
    <mat-card>
      <mat-toolbar color="accent">Chinese Chess General Problem</mat-toolbar>
      <mat-card-content>
        <img src="./assets/images/chinesechess.jpg" />
      </mat-card-content>
      <mat-card-actions>
        <button md-button>PRINT</button>
        <button md-button>RESET</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>  
  <mat-tab>
    <ng-template md-tab-label>
      {{'Subject.Polynomial' | transloco}}
    </ng-template>
    <mat-card>
      <mat-toolbar>{{'Subject.Polynomial' | transloco}}</mat-toolbar>
      <mat-card-content>
        <div class="control-full-width" *ngFor="let pds of PolynomialDisplayStrings">
          <span [innerHtml]='pds'></span>
        </div>
        
        <!-- New term -->
        <div class="control-full-width">
          <mat-form-field>
            <input matInput type="number" placeholder="Coef" [(ngModel)]="polAddCoef" name="polAddCoef">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Exp" [(ngModel)]="polAddExp" name="polAddExp">
          </mat-form-field>
          <button md-raised-button (click)="OnPolynomialNewTerm()">NEW TERM</button>
        </div>

        <!-- Eval -->
        <div class="control-full-width">
          <mat-form-field>
            <input matInput type="number" placeholder="Value of Variable" [(ngModel)]="polEval" name="polEval">
          </mat-form-field>
          <button mat-raised-button (click)="OnPolynomialEval()">EVAL</button>
        </div>

        <!-- Add -->
        <div class="control-full-width">
          <span [innerHtml]='polNewForAdd'></span>
          <button mat-raised-button (click)="OnPolynomialNewForAddRandom()">NEW RANDOM</button>
          <button mat-raised-button (click)="OnPolynomialAdd()" [disabled]="polNewForAdd === null || polNewForAdd.length <= 0">ADD</button>
        </div>

        <!-- Multiply -->
        <div class="control-full-width">
          <span [innerHtml]='polNewForMultiply'></span>
          <button mat-raised-button (click)="OnPolynomialNewForMultiplyRandom()">NEW RANDOM</button>
          <button mat-raised-button (click)="OnPolynomialMultiply()" [disabled]="polNewForMultiply === null || polNewForMultiply.length <= 0">MULTIPLY</button>
        </div>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-button (click)="OnPolynomialRandomGenerate()" [disabled]="_polynomial === null">INITIALIZE WITH RANDOMIZE</button>
        <button mat-button (click)="OnPolynomialRetset()" [disabled]="_polynomial !== null">RESET</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Pan Cake Sorting
    </ng-template>
    <mat-card>
      <mat-toolbar>Pan Cake Sorting</mat-toolbar>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button md-button>PRINT</button>
        <button md-button>RESET</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template md-tab-label>
      {{'Subject.Matrix' | transloco}}
    </ng-template>
    <mat-card>
      <mat-toolbar>{{'Subject.Matrix' | transloco}}</mat-toolbar>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button md-button>PRINT</button>
        <button md-button>RESET</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>
